.task_id{
    color: aliceblue;
}


.countainer_input {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    padding: 10px;
    border: solid 1px #505050;
    border-radius: 30px;
    box-shadow: 10px 10px 10px  #505050;


    input {
        width: 80%;
        padding: 10px;
        border: 1 px solid #e4e4e4;
        outline: none;
        border-radius: 20px;
    }

    button {
        margin-left: 10px;
        padding: 10px;
        border: 1px;
        outline: none;
        color: black;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 500ms ease-in-out;
    }
}




button:hover {
    background-color: aliceblue;
}


.tarea1-5 {
    background-color: red;
}

.tarea5-10 {
    background-color: orange;
}

.tarea10-15 {
    background-color: green;
}

.countainer_advertence {
    width: 200px;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(194, 0, 0);
    color: rgb(255, 255, 255);
    display: grid;
    justify-self: center;
    text-align: center;
}

/* .number_task {
    position: absolute;
    right: 10px;
    background-color: gray;
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 2rem;
}

.countainer_tareas {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    border-radius: 30px;
    padding: 20px;
    overflow-y: auto;
    max-height: 450px;
    min-height: 450px;
}

.countainer_tareas .task {
    margin: 10px;
    font-size: 1.5rem;
    padding: 10px;
    border: 2px solid goldenrod;
    border-radius: 20px;
    width: 90%;
    position: relative;
}

.countainer_tareas .task .task_delete {
    position: absolute;
    align-self: center;
    cursor: pointer;
    right: 10px;
    background-color: rgb(200, 0, 0);
    padding: 10px;
    color: aliceblue;
    border: none;
    outline: none;
}

.countainer_tareas .task .task_check {
    position: absolute;
    align-self: center;
    right: 1px;
    cursor: pointer;
}
.countainer_tareas .task .subrayar {
    text-decoration: line-through;
} */